{% extends "base.html" %}
{% block title %}op_platform{% endblock %}
{% block page_content %} 
<div class="page-header">
<h1>User</h1><br>
</div>
<a class="btn btn-primary" href="{{ url_for('main.adduser') }}">adduser</a>
<table class='table'>
<tr>
  <th>id</th>
  <th>user</th>
  <th>role</th>
  <th>action</th>
</tr>
{% for i in user_message %}
  <tr>
  <td>{{ i.id }}</td>
  <td>{{ i.username }}</td>
  <td>{{ i.role }}
  </td>
  <td>
  <a class="btn btn-primary" onclick=alert("sure?") href="{{ url_for('main.deluser',id=i.id) }}">delete</a>
  </td>
  </tr>
{% endfor %}
</table></div>
{% endblock %}
